.none {
  animation: hide 3s forwards;
  cursor: default !important;
}

.button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid #000;
  &:active {
    transform: scale(1.2);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  10% {
    background-color: rgba(186, 0, 0, 0.556);
    opacity: 1;
  }
  20% {
    background-color: rgba(186, 0, 0, 0.685);
    opacity: 1;
  }
  50% {
    background-color: rgba(186, 0, 0, 0.907);
    opacity: 1;
  }
  50% {
    background-color: rgba(186, 0, 0, 0.932);
    opacity: 1;
  }
  70% {
    background-color: rgba(186, 0, 0, 0.937);
    opacity: 1;
  }
  85% {
    background-color: rgba(186, 0, 0, 0.649);
    opacity: 1;
  }
  to {
    background-color: rgba(186, 0, 0, 0.496);
    opacity: 0;
  }
}
